@font-face {
    font-family: E-Ukraine;
    src: url("./fonts/e-Ukraine-Medium.otf") format("opentype");
}

@font-face {
    font-family: E-Ukraine;
    font-weight: normal;
    src: url("./fonts/e-Ukraine-Medium.otf") format("opentype");
}
html {
    font-size: 10px;
    background-color: #1e1e1e;
}
html{
    background-color: #1e1e1e;
}

.App{
    font-size: 1.6rem;
    font-family: E-Ukraine;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    color: white;
}
.App{
    background-color: #1e1e1e;
}
h4{
    color:white;
}
td{
    color:white;
}
.requests{
    color:white;
}
.container{
    background-color: #1e1e1e;
}
.burger__menu{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: transparent;
}
.list__settings{
    display: flex;
    flex-direction: column;
    width: 190px;
    height:400px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.app__heading{
    margin-top: 200px;
    text-align: center;
}
.stats__block{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 85px;
}
.stats{
    display: none;
}
.img{
    background-image: url(./img/uaukraineflag_111966.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover ;
    border:none;
    background-color: transparent;

}
.img-ru{
    background-image: url(./img/rurussiaflag_111751.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover ;
    border:none;
    background-color: transparent;
}
.img-eng{
    background-image: url(./img/GB-United-Kingdom-Flag-icon.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover ;
    border:none;
    background-color: transparent;
}
.setting{
    background-image: url(./img/white-settings-icon-0.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover ;
    border:none;
    background-color: transparent;

}
.cancel{
    background-image: url(./img/icon.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover ;
    border:none;
    background-color: transparent;
    margin-bottom: 30px;
}
.button{
    border:none;
    color: white;
    background-color: transparent;
    margin-bottom: 10px;
}
.icon__button{
    display: flex;
    justify-content: space-between;

}