@font-face {
  font-family: E-Ukraine;
  src: url("../fonts/e-Ukraine-Medium.otf") format("opentype");
}

@font-face {
  font-family: E-Ukraine;
  font-weight: normal;
  src: url("../fonts/e-Ukraine-Medium.otf") format("opentype");
}
@font-face {
  font-family: E-Ukraine-light;
  src: url("../fonts/e-Ukraine-Light.otf") format("opentype");
}
@font-face {
  font-family: E-Ukraine-light;
  font-weight: lighter;
  src: url("../fonts/e-Ukraine-Light.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
  background-image: url(../../../Downloads/NoRussianWar-main/img/diia_gradient_01.png);
  height: 680px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__links_left {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: left;
}

.header__links_right {
  margin-right: 100px;
}
.headelist {
  padding-top: 22px;
  display: flex;
  margin-bottom: 18px;
  justify-content: space-between;
}

.header__link {
  text-align: left;
  font-size: 17px;
  line-height: 13px;
  letter-spacing: normal;
  color: #000000;
  font-family: "E-Ukraine";
  list-style-type: none;
}

.text {
  margin: 0 auto;
  font-size: 56px;
  font-family: "E-Ukraine";
  letter-spacing: normal;
  text-align: center;
}

.logo {
  padding-top: 100px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  margin-bottom: 48px;
}
.logo__gerb {
  width: 146px;
}

#mouse-scroll {
  position: relative;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
  z-index: 2;
  display: block;
  width: 1px;
  padding-right: 20px;
}

#mouse-scroll span {
  display: block;
  width: 8px;
  height: 8px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  margin: 0 0 3px 5px;
}

#mouse-scroll .unu {
  margin-top: 6px;
}

#mouse-scroll .unu,
#mouse-scroll .doi,
#mouse-scroll .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

#mouse-scroll .unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse {
  height: 30px;
  width: 20px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #333333;
  top: 170px;
}

#mouse-scroll .wheel {
  height: 8px;
  width: 3px;
  display: block;
  margin: 5px auto;
  background: #333333;
  position: relative;
}

#mouse-scroll .wheel {
  -webkit-animation: mouse-wheel 1.2s ease infinite;
  -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
 
.description {
  font-family: E-Ukraine;
  font-size: 18px;
  text-align: center;
  color: grey;
  width: 80%;
  margin: 0 auto;
}

.title {
  margin: 3rem auto 3rem auto;
  text-align: center;
  color: #005bbc;
}

.intro .howto {
  background-color: #005bbc;
}

.intro .howto h3 {
  color: #ffd600;
  text-align: center;
  margin-top: 1rem;
}

.intro .howto p {
  color: white;
  text-align: justify;
}

.footer {
  color: #005bbc;
  text-align: center;
  margin-top: 2rem;
}

.desc {
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  width: 60%;
}

.desc h3 {
  margin-bottom: 30px;
  text-align: center;
  color: #005bbc;
}

#stats h4 {
  font-size: 1.1em;
  text-decoration: underline;
  font-weight: 400;
  font-family: E-Ukraine;
}

table.status {
  margin-bottom: 10px;
}

p {
  font-family: E-Ukraine-light;
  font-weight: lighter;
 
}
.help4{
  padding-right: 25px;
}

.text{
  margin-bottom: 65px;
}

a {
 
}
link{
  
}